<section class="qrcode-creation column-shape">
  <div class="qrcode-creation__title">
    <app-title [title]="title"></app-title>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="newCourseForm">
    <div class="column-display">
      <div class="qrcode-creation__left-column">
        <div class="qrcode-creation__date">
          <mat-form-field>
            <mat-label>Date du cours</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="qrcode-creation__time--begin">
          <mat-form-field>
            <mat-label>Heure de début de cours</mat-label>
            <input matInput type="time" formControlName="time" />
          </mat-form-field>
        </div>
        <!-- <div class="qrcode-creation__time--end">
          <mat-form-field>
            <mat-label>Heure de fin de cours</mat-label>
            <input
              matInput
              [ngxTimepicker]="picker2"
              [format]="24"
              formControlName="time"
            />
            <ngx-material-timepicker #picker2></ngx-material-timepicker>
          </mat-form-field>
        </div> -->
      </div>
      <div class="qrcode-creation__right-column">
        <div class="qrcode-creation__name">
          <mat-form-field>
            <mat-label>Nom du cours</mat-label>
            <input matInput type="text" formControlName="course_name" />
          </mat-form-field>
        </div>
        <div class="qrcode-creation__timer">
          <table class="qrcode-creation__timer--table">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Temps accordé pour valider la présence</mat-label>
                  <input
                    matInput
                    type="number"
                    [min]="0"
                    formControlName="timer"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-select
                    [value]="timeUnity.value"
                    formControlName="timeUnity"
                  >
                    <mat-option value="hour">Heure(s)</mat-option>
                    <mat-option value="min">Minute(s)</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!newCourseForm.valid"
      mat-raised-button
      class="custom-button qrcode-creation__button"
    >
      Créer un nouveau cours
    </button>
  </form>
</section>
