@import "src/stylesheets/styles";

.enter {
  &__canvas {
    width: 100%;
    .signed {
      display: none;
    }
    .canvas {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      &__box {
        border: 2px solid $black;
        border-radius: 25px;
      }
    }

    .submit-button {
      transition-duration: 300ms;
    }
  }

  &__edit {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 15px;
    width: 100%;
    max-width: 300px;
  }

  .success-card {
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .check {
        z-index: 1;
        &__icon {
          width: 200px;
          height: 200px;
          margin-bottom: 20px;
          color: white;
          font-size: 110px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          &::before {
            z-index: -1;
            position: absolute;
            content: "";
            background-color: $success;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
