<section class="enter">
  <div class="enter__canvas">
    <div class="canvas">
      <canvas #sPad width="450" height="300" class="canvas__box"></canvas>
    </div>
    <div class="enter__edit">
      <button mat-raised-button class="custom-button" (click)="clearPad()">
        Supprimer
      </button>
      <button mat-raised-button class="custom-button" (click)="undoPad()">
        Refaire
      </button>
    </div>
    <button mat-raised-button class="custom-button" (click)="savePNG()">
      Signer
    </button>
  </div>
</section>
