@import "src/stylesheets/styles";

.title {
  height: 49px;
  border-bottom: 1px solid $black-rgba;
  color: $black-title;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
