<section class="profile">
  <div class="profile__information">
    <div class="profile__information--firstname">
      {{ profil.first_name }}
    </div>
    <div class="profile__information--lastname">
      {{ profil.last_name }}
    </div>
  </div>
  <div class="profile__menu">
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">
        <mat-icon>history</mat-icon>
        <span>Historique des cours</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Se deconnecter</span>
      </button>
    </mat-menu>
  </div>
</section>
