@import "src/stylesheets/styles";

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__information {
    display: flex;
    margin-right: 10px;
    &--firstname {
      text-transform: capitalize;
      margin-right: 5px;
    }
    &--lastname {
      text-transform: uppercase;
    }
  }
  &__picture {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sub-menu {
  &__button {
    transition-duration: 150ms;
    .icon {
      opacity: 0.3;
      transition-duration: 150ms;
      &.delete {
        &:hover {
          color: $alert;
        }
      }
      &.go {
        &:hover {
          color: $blue;
        }
      }
    }

    .title {
      &__course {
        font-weight: bold;
      }
    }

    &.over {
      .icon {
        opacity: 1;
      }
    }
  }
}
