.example-card {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.example-header-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/31/QR_icon.svg");
  background-size: cover;
}
.tableQrcode {
  width: 100%;
}

.center-qrcode {
  display: flex;
  justify-content: center;
}

.mat-card-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}
