<section class="corps">
  <div *ngIf="qrcodeShow">
    <h1>Génération du qrCode.</h1>
    <div class="input-group-prepend">
      <div class="mt-5">
        <input
          placeholder="Date and Time"
          type="text"
          data-open="picker2"
          class="form-control date-time picker-opener"
          value="cours du prof"
        />
      </div>
      <div class="mt-5">
        <input
          type="datetime-local"
          id="meeting-time"
          name="meeting-time"
          value="2018-06-12T19:30"
          min="2018-06-07T00:00"
          data-open="picker2"
          class="form-control date-time picker-opener"
          max="2018-06-14T00:00"
        />
      </div>
    </div>
    <div class="mt-5">
      <input
        type="datetime-local"
        id="meeting-time"
        value="{{ todayDate }}"
        data-open="picker2"
        class="form-control date-time picker-opener"
        max="2018-06-14T00:00"
      />
    </div>
  </div>

    <button
      (click)="qrcodeShow()"
      type="button"
      class="btn btn-primary btn-lg btn-block"
    >
      Création du qrCode.
    </button>

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A animi provident
    accusamus reprehenderit voluptas deserunt placeat ipsam, asperiores deleniti
    alias.
  </div>
</section>
