<section class="corps">
  <div class="input-group-prepend d-flex flex-row">
    <div class="input-group-text">
      <input
        type="checkbox"
        aria-label="Checkbox for following text input"
        checked
      />
    </div>
    <input
      placeholder="Date and Time"
      type="text"
      data-open="picker2"
      class="form-control date-time picker-opener"
      value="cours du prof"
    />
    <div class="input-group-text">
      <input
        type="checkbox"
        aria-label="Checkbox for following text input"
        checked
      />
    </div>
    <input
      placeholder="Date"
      type="text"
      data-open="picker2"
      class="form-control date-time picker-opener"
    />
    <input
      placeholder="Time"
      type="text"
      data-open="picker2"
      class="form-control date-time picker-opener"
    />
  </div>

  <button type="button" class="btn btn-primary btn-lg btn-block">
    Création du qrCode.
  </button>
</section>

<script>
  $(document).ready(function () {
    // Date Time Picker Initialization
    $(".date-time").dateTimePicker();
    $(".date-time-2").dateTimePicker();
  });
</script>
