<section class="sign-up">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="column-display">
      <div class="sign-up__left-column">
        <div class="sign-up__lastname">
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="first_name" />
            <mat-error *ngIf="first_name.invalid">{{
              getErrorMessage("required")
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="sign-up__firstname">
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput type="text" formControlName="last_name" />
            <mat-error *ngIf="last_name.invalid">{{
              getErrorMessage("required")
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="sign-up__mail">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="prenom.nom@lacatholille.fr"
            />
            <mat-error *ngIf="email.invalid">{{
              getErrorMessage("email")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="sign-up__right-column">
        <div class="sign-up__password">
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{
              getErrorMessage("password")
            }}</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="sign-up__password-confirm">
          <mat-form-field>
            <mat-label>Mot de passe (confirmation)</mat-label>
            <input
              matInput
              formControlName="password_confimation"
              [type]="hide ? 'password' : 'text'"
            />
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div> -->
      </div>
    </div>
    <button
      type="submit"
      mat-raised-button
      class="custom-button sign-in__button"
    >
      Créer un compte
    </button>
  </form>
</section>
