// Layout
$small: 425px;
$medium: 768px;
$large: 1024px;
$xlarge: 1600px;

// Color
$black-light: #2b2b2b;
$black: black;
$white: white;
$blue: #3f51b5;
$blue-hover: #061435;
$pending: #e2e3e5;
$success: #79d690;
$alert: #ec6c77;

// Premade Styles
a {
  text-decoration: none;
  color: initial;
}

.section {
  max-width: $xlarge;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-button {
  background-color: $blue;
  color: $white;
  width: 100%;
  padding: 5px 10px;
}

.column-display {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $medium) {
    flex-direction: row;
  }
  & > * {
    width: 100%;
    @media screen and (min-width: $medium) {
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
  }
}
