@import "src/stylesheets/styles";

.password-validator {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  flex-direction: column;
  &__condition {
    margin-top: 10px;
    display: flex;
    align-items: center;
    .condition {
      &__check {
        color: white;
        font-size: 16px;
        margin-right: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        &::before {
          z-index: -1;
          position: absolute;
          content: "";
          background-color: $pending;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 50%;
        }

        &.success {
          &::before {
            background-color: $success;
          }
        }
      }
    }
  }
}
